a:link {
	@apply text-blue-500 underline underline-offset-8;
}

a:visited {
	@apply text-current;
}

a:hover {
	@apply opacity-70;
}

a:active,
a.active {
	@apply cursor-default decoration-pink-500;
}

a.stretched-link:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
